<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
   <link rel="stylesheet" href="/font/fontawesome-free-5.15.4-web/css/all.css">
   <link rel="stylesheet" href="/stylesheets/reset.css">
   <link rel="stylesheet" href="/stylesheets/machineCtrl.css">
   <title>Quản lý máy may</title>
</head>
<body>
    <div class="main">
      <%- include('../partials/header') -%>
      <div class="search">
          <h3>Chọn line máy</h3>
          <select class="form-select">
            <option value="1">Line 1 - 2</option>
            <option value="2">Line 3 - 4</option>
            <option value="3">Line 5 - 6</option>
          </select>
      </div>
      <div class="content">
          <div class="content-layout">
            <% for(var line=1; line<=2; line++) {%>
            <h3 class="content-layout-header">Line <%=line%></h3>
            <div class="content-layout-line">
              <% for(var machine=1; machine<=22; machine++) {%>
                <% if(machine==17) {%> 
                  <div class="content-layout-line-machine" id="m17"><h4>Máy <%=machine%></h4><p>123456</p></div>
                <%} else if(machine== 2) {%> 
                  <div class="content-layout-line-machine" id="m22"><h4>Máy <%=machine%></h4><p>123456</p></div>
                <%} else if(machine== 10) {%> 
                  <div class="content-layout-line-machine" id="m1"><h4>Máy <%=machine%></h4><p>123456</p></div>
                <%} else {%> 
                  <div class="content-layout-line-machine" href="#"><h4>Máy <%=machine%></h4><p>123456</p></div>
                <% } %> 
             <% } %>     
            </div>
            <% } %> 
          </div>
      </div>
      <%- include('../partials/footer')%>
    </div>
    <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/jquery/dist/jquery.min.js"></script>
</body>
</html>